.test{
  display: flex;
  color: white !important;
  /* font-family: Arial, Helvetica, sans-serif !important; */
  font-family: 'Ubuntu', sans-serif !important;
  letter-spacing: 6px !important;
  font-size: 40px !important;
  font-weight:600 !important;
}

.test::before {
  content: "2022";
  position: absolute;
  color: rgba(255, 255, 255, 0.246);
  font-size: 150px; 
  margin-top: -50px;
  left: calc(50% - 160px);
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Anton', sans-serif !important; */
  font-family: 'Ubuntu', sans-serif !important;

  font-weight: 400;
  text-align: center;
  margin-top: -60px;
  margin: left -30px;
  left: -40px;
}


/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  /* background: #2098D1; */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 20px;
}
.hvr-shutter-in-vertical:before {
  border-radius: 20px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(83, 93, 161, 0.8);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover,
.hvr-shutter-in-vertical:focus,
.hvr-shutter-in-vertical:active {
  background-color: white;
  color: rgba(83, 93, 161, 0.8);
  /* color: white; */
}
.hvr-shutter-in-vertical:hover:before,
.hvr-shutter-in-vertical:focus:before,
.hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.landing-main {
  /* making the background a bit dark  */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);

  /* animation: transitionIn 1.5s; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1c1f35;
  /* background-image: url("../../images/background.png"); */
  background-size: cover;
  background-position: center;
  min-height: 100%;
  /* position: relative; */
}

.name {
  /* pointer-events:none; */
  cursor: pointer;
  /* animation: transitionIn 1.5s; */
  /* background-color: rgba(83,93,161,0.8); */
  color: white;
  border-radius: 20px;
  width: 20rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 1000;
  letter-spacing: 4px;
}

.main-buttons {
  margin: 2rem auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-buttons button {
  font-size: 15px;
  font-weight: bold;
  border: #1c1f35;
  background-color: rgba(83, 93, 161, 0.8);
  color: white;
  border-radius: 10px;
  width: 8rem;
  height: 2rem;
}

.name-2 {
  /* animation: transitionIn 1.5s; */
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 15rem; */
  height: 4rem;
  /* background-color: rgba(83,93,161,0.8); */
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 1000;
  letter-spacing: 4px;
}

@media only screen and (min-width: 992px) {

  .test{
    color: white !important;
    font-family: Arial, Helvetica, sans-serif !important;
    letter-spacing: 6px !important;
    font-size: 80px !important;
    font-weight:800 !important;
  }
  
  .test::before {
    content: "2022";
    position: absolute;
    color: rgba(255, 255, 255, 0.246);
    font-size: 150px; 
    margin-top: -50px;
    left: calc(50% - 160px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-align: center;
  }

  /* .name:hover{
  color: rgba(83,93,161,0.8);
  background-color: white;
  transition: 0.5s;
  } */

  .name-2 {
    /* animation: transitionIn 1.5s; */
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 15rem; */
    height: 4rem;
    /* background-color: rgba(83,93,161,0.8); */
    color: white;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 1000;
    letter-spacing: 4px;
  }

  .main-buttons {
    /* margin: 2rem auto; */
    width: 40%;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
  }

  .main-buttons button {
    font-size: 20px;
    border-radius: 15px;
    width: 15rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    border-radius: 30px;
    width: 35rem;
    height: 6rem;
    font-size: 50px;
  }
}

.landing-main {
  height: 100vh;
  background-color: #1c1f35;
}

.atag{
  text-decoration: none;
}
@media only screen and (max-width: 992px) {
  
  .test::before {
    top: -50px;
    font-size: 115px;
    left: -10px;
    }
  }