.prizes-main {
  height: 100vh;
  position: relative;
  background-color: #1c1f35;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.prize-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.prizes-main h2{
  /* text-align: left; */
}

.title {
  text-align: center;

  color: #fff;
}

.details {
  color: #fff;
}
