.footer {
  position: relative;
  height: auto;
  color: #fff;
  /* padding: 3.5rem 5rem 0 5rem; */
  background-color: black;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;
}

.footer .footer-link {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.links {
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.list-unstyled li:not(:last-child) {
  margin-bottom: 10px;
}

.contact h1 {
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.1rem;
}

.contact-items {
  margin-top: 1.5rem;
  text-align: right;
  letter-spacing: 0.1rem;
}

.contact-items li h2 {
  font-size: 20px;
  text-align: right;
}

.copyright {
  text-align: center;
  padding-top: 1rem;
  margin: 0;
  padding-bottom: 5px;
}

.copyright h6 {
  font-size: 1rem;
}

.copyright h6:last-child {
  font-size: 0.95rem;
  font-family: monospace;
}

.copy {
  margin: 0;
}
h6 {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  a {
    font-size: 10px !important;
  }
  .contact h2 {
    font-size: 10px !important;
  }
  .contact h1 {
    font-size: 15px !important;
  }
  .copy > p {
    margin: 0;
    font-size: 10px !important;
  }
  h6 {
    font-size: 11px !important;
    padding-bottom: 2px;
  }
}

a {
  text-decoration: none !important;
  color: white !important;
}
